<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/hangMan-game.css"
  <meta charset="utf-8">
  <header>
    <title> Hangman </title>
  </header>
</head>
<body>
  <h1> We Mobbin Hangman </h1>
{{{yield}}}
    </div>
</body>
</html>
